.footer-parent-wrapper {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;

  .social-links {
    position: relative;
    color: #b7c7fc;
    font-size: 32px;
    border-bottom: 2px solid #dde5e8;
    overflow: hidden;
    transition: all 0.5s ease-in-out;

    &:last-child {
      border-bottom: none;
    }
  }

  .social-links a {
    padding: 8px 16px;
    display: block; /* Adjusted to block for the fill effect */
    width: 100%;
    position: relative;
    z-index: 1; /* Ensure the text is above the pseudo-element */
  }

  .social-links::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%; /* Start from the left */
    width: 100%;
    height: 100%;
    background-color: #dde5e8;
    transition: left 0.5s ease-in-out, width 0.5s ease-in-out;
    z-index: 0;
  }

  .social-links:hover::before {
    left: 0;
    width: 100%; /* Cover the whole area on hover */
  }

  .social-links:hover {
    letter-spacing: 15px;
    color: #626ba1;
  }

  .contact-button {
    border: none;
    outline: none;
    background-color: transparent;
    color: #c8ddff;
    border: 2px solid #c8ddff;
    border-radius: 80px;
    padding: 0px 20px;

    display: inline-block;
    text-align: center;
    transition: all 0.2s ease-in-out;
  }

  .contact-button:hover {
    background-color: #c8ddff;
    color: #194ce1;
  }

  .footer-terms {
    position: relative;
    color: #b7c7fc;
    font-size: 12px;
  }

  .footer-terms::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #b7c7fc;
    transition: width 0.3s ease-in-out;
  }

  .footer-terms:hover::before {
    width: 100%;
  }
}
