.header-parent {
  top: 10px;
  left: 0;
  z-index: 999;

  .menu-drawer {
    position: relative;
    .bg {
      position: absolute;
      top: 0px;
      right: 0px;
      background: #2745c8;
      padding-top: 35px;
      padding-left: 20px;
      padding-bottom: 20px;
      width: 250px;
      max-height: max-content;
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      position: relative;
    }

    li {
      color: #c8ddff;
      font-size: 24px;
      font-weight: 600;
      transition: all ease-in-out;
      &:hover {
        color: #FFF;
      }
    }
  }
}
