.about-page-parent-wrapper {
  .hero-section-carousel-parent {
    .alice-carousel__dots {
      .alice-carousel__dots-item {
        width: 15px;
        height: 15px;
        border-radius: 0;
      }
    }
    .item-wrapper {
      .img-wrapper {
        box-shadow: 0 8px 12px 0 rgba(155, 167, 188, 0.37);
        @include xl {
          box-shadow: 0 10px 20px 0 rgba(155, 167, 188, 0.37);
        }

        img {
          max-height: 320px;
          width: 100%;
        }
      }
    }
  }

  .about-section-wrapper {
    .about-illustration-1 {
      position: relative;
      max-width: 130vw;
      left: 8vw;

      @include md {
        left: auto;
        max-width: 56.7vw;
      }
    }
  }

  .stats-section-wrapper {
    .stat-wrapper {
      @include md {
        width: 14%;
      }
    }
  }

  .experts-section-wrapper {
    .about-illustration-2 {
      position: relative;
      max-width: 150vw;
      left: 22vw;

      @include md {
        left: auto;
        max-width: 63.95vw;
      }
    }
  }

  .support-section-wrapper {
    .about-illustration-3 {
      position: relative;
      max-width: 200vw;
      left: -85vw;

      @include md {
        left: -50vw;
        max-width: 104.75vw;
      }
    }
  }
}
