.home-parent-wrapper {
  .hero-section {
    background: url("../../assets/images/global/banner_back_illustration.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    .gradient-color {
      background: transparent
        linear-gradient(
          135deg,
          #ff39a7 0,
          #e265af 16%,
          #9f5de6 33%,
          #655be2 50%,
          #9f5de6 67%,
          #e265af 84%,
          #ff39a7 100%
        );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .hero-content {
      max-width: 550px;

      @media only screen and (max-width: 640px) {
        min-height: 162px;
      }

      @media only screen and (max-width: 438px) {
        min-height: 256px;
      }

      @include xl {
        max-width: 100%;
      }
    }

    .hero-right {
      border-radius: 50px;
      box-shadow: 0 0 24px;
      position: relative;

      &::before {
        background: linear-gradient(
          135deg,
          #b577f9 0,
          #f282c4 25%,
          #b577f9 50%,
          #f282c4 75%,
          #b577f9 100%
        );
        background-size: 400% 400%;
        border-radius: 30px;
        box-shadow: 0 0 12px #b577f980;
        content: "";
        position: absolute;
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
      }

      .video-section {
        border-radius: 20px;
        box-shadow: 3px 6px 12px #252e481a;
        margin: 40px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        aspect-ratio: 2/1.2;
      }

      .envelop-icon-img {
        position: absolute;
        left: -120px;
        bottom: -50px;
        height: 122px;
        width: 170px;
        z-index: 1;
        animation: scale 4.4s 6;
      }

      .play-icon-img {
        position: absolute;
        right: -90px;
        top: -50px;
        height: 135px;
        width: 120px;
        z-index: 1;
        animation: scale 2.8s 6 0.4s;
      }

      @keyframes scale {
        0%,
        100% {
          transform: translateZ(0) scale(1);
        }
        50% {
          transform: translateZ(0) scale(1.08);
        }
      }
    }

    .hero-trusted-wrap {
      &::before,
      &::after {
        background-color: #545f7e;
        content: "";
        display: inline-block;
        flex-grow: 1;
        height: 1px;
        width: 100%;

        @include md {
          display: none;
        }
      }
      *,
      .rf-btn-sq,
      :after,
      :before {
        box-sizing: border-box;
      }
    }
  }
}
