:root {
  //mostly used in scss files
  --coal: rgba(0, 0, 0, 0.9);
  --faint-slate: rgba(0, 0, 0, 0.12);
  --hazy-slate: rgba(155, 167, 188, 0.37);
  --pale-slate: #dde5e8;
  --slate-indigo: #626ba1;
  --silver-cloud: #eee;
  //mostly used in tailwind
  --low-opacity-black: rgba(0, 0, 0, 0.5);
  --white: #fff;
  --slate-blue-gray: #888fa6;
  --golden-yellow: #feb512;
  --misty-sky-blue: #dbe4ef;
  --light-blue: #b7c7fc;
  --medium-blue: #2449cd;
  --dodger-blue: #2745c8;
  --powder-blue: #a6bfec;
  --pale-sky-blue: #e6edf8;
  --sky-blue: #c8ddff;
  --whispering-sky-blue: #f4f6fd;
  --royal-blue: #1033b6;
  --vivid-blue: #194ce1;
  --dark-blue: #021b9f;
  --oceanic-blue: #328dea;
}
